.create-test {
    width: 80%;
    margin: auto;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 500px;
    display: grid;
    padding: 10px;

    label {
        margin-top: 15px;
    }

    h1 {
        font-size: large;
    }

    button {
        margin: 5px;
        border-radius: 5px;
        border: none;
    }
}