.eight-wastes {
    width: 80%;
    margin: auto;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 500px;
    padding: 10px;

    div {
        white-space: nowrap;
        width: 100%;

        h2 {
            width: min-content;
            font-size: smaller;
        }

        input {
            width: min-content;
            float: left;
        }
    }

    button {
        padding: 10px;
        color: white;
        background-color: red;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .users-score {
        text-align: center;

        h1 {
            margin: 60px auto;
            padding-top: 50px;
            color: green;
            height: 100px;
            width: 150px;
            border: 5px solid green;
            border-radius:50%;
        }
    }
}