<div class="head">
  <button style="background-color: transparent; border: none;" onclick="window.location.href=''">
    <h1>The Inventive Group - Training Modules</h1>
  </button>
  <div class="button-container">
    <button onclick="window.location.href=''">All Tests</button>
    <button onclick="window.location.href='create-test'" style="background-color: red; color: white; border: none;">Create Tests</button>
  </div>
</div>

<div class="linkable-body">
  <router-outlet></router-outlet>
</div>

<div class="foot">
  <p>Developed by <a href="https://www.linkedin.com/in/tanner-utz-6579732a2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiYz1u4%2BYTUa4%2FmQGDgU0dw%3D%3D" target="_blank"> Tanner Utz</a></p>
</div>